@model MedChartBloodWork.Models.BloodWork

@{
    ViewData["Title"] = "AddBloodWork";
}

<h1>Add Your Blood Work</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBloodWork">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamDate" class="control-label"></label>
                <input asp-for="ExamDate" class="form-control" />
                <span asp-validation-for="ExamDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultDate" class="control-label"></label>
                <input asp-for="ResultDate" class="form-control" />
                <span asp-validation-for="ResultDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hemoglobin" class="control-label"></label>
                <input asp-for="Hemoglobin" class="form-control" />
                <span asp-validation-for="Hemoglobin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hematocrit" class="control-label"></label>
                <input asp-for="Hematocrit" class="form-control" />
                <span asp-validation-for="Hematocrit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiteBloodCellCount" class="control-label"></label>
                <input asp-for="WhiteBloodCellCount" class="form-control" />
                <span asp-validation-for="WhiteBloodCellCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedBloodCellCount" class="control-label"></label>
                <input asp-for="RedBloodCellCount" class="form-control" />
                <span asp-validation-for="RedBloodCellCount" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
